<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operation</title>
</head>
<body>
{% csrf_token %}
<h2>Choose the  appropiate option</h2>
<br>
Add record<br>
<form action="{% url 'getdata' %}">
 <input type="submit" value="Click to add record">
</form>
<br>
View the blockchain<br>
<form action="{% url 'viewdata' %}">
    <input type="submit" value="Click to view">
</form>
<br>
Add nodes<br>
<form action="{% url 'node' %}">
    <input type="submit" value="Click to add nodes">
</form>
<br>
View nodes<br>
<form action="{%url 'shownode' %}">
    <input type="submit" value="Click to view the nodes">
</form>
</body>
</html>