<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% csrf_token %}
<h4>Thank you</h4>
If Wish to add more nodes<br>
<form action="{% url 'node' %}">
    <input type="submit" value="Click to add nodes">
</form>
Wish to view the blockchain<br>
<form action="{% url 'viewdata' %}">
    <input type="submit" value="Click to view">
</form>
Wish to add new record in the system<br>
<form action="{% url 'getdata' %}">
 <input type="submit" value="Click to add record">
</form>
Wish to view nodes<br>
<form action="{%url 'shownode' %}">
    <input type="submit" value="Click to view the nodes">
</form>

</body>
</html>
